= render "share/header"
.mypage
  .mypage__topics
    .heading
      Frends
    %ul.diaries.effect-fade
      %li.diaries__diary  
        .diaries__diary--image
          = link_to "/diaries/new" do
            = image_tag ("3282473_s.jpg")
        .diaries__diary--text
          みかん
      %li.diaries__diary
        .diaries__diary--image
          = link_to "/diaries/new" do
            = image_tag "3282473_s.jpg"
        .diaries__diary--text
          りんご
      %li.diaries__diary
        .diaries__diary--image
          = link_to "/diaries/new" do
            = image_tag "3282473_s.jpg"
        .diaries__diary--text
          イチゴ
  .mypage__profile
    .heading
      Profile
    %ul.items.effect-fade
      %li.items__note
        Name
        .item
          = @profile.name
      %li.items__note
        Birthday
        .item
          = @profile.birth
      %li.items__note
        BloodType
        .item
          = @profile.blood_type.name
      %li.items__note
        Sign
        .item
          = @profile.sign.name
