.mypage-headder
  = render "share/header"
.mypage
  .mypage__topics
    .heading
      diaries
    %ul.diaries.effect-fade
      %li.diaries__diary  
        .diaries__diary--image
          = link_to "/mypages/diaries/#{@diaries.id}" do
            = image_tag ("3282473_s.jpg")
        .diaries__diary--text
          みかん
      %li.diaries__diary
        .diaries__diary--image
          = link_to "/mypages/diaries/#{@diaries.id}" do
            = image_tag "3282473_s.jpg"
        .diaries__diary--text
          りんご
      %li.diaries__diary
        .diaries__diary--image
          = link_to "/mypages/diaries/#{@diaries.id}" do
            = image_tag "3282473_s.jpg"
        .diaries__diary--text
          イチゴ
.mypage-footer
  = render "share/footer"

